.menu-wrapper{
   width: 100%;
   margin: 0px;
   padding: 0px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   @media screen and (max-width:768px) {
      position: fixed;
      left: 0px;
      display: none;
      top: 0px;
      height: 100%;
      background: #00000078;
   }
   .menu-container{
      margin: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0px 15px;
      gap: 15px;
      @media screen and (max-width:768px) {
         height: 100%;
         flex-direction: column;
         background: #0f1214;
         width: 350px;
         border: solid rgba(61, 71, 81, 0.3) 1px;
         border-radius: 0px 15px 15px 0px;
         justify-content: flex-start;
        
      }
      .mobile-header-container{
         padding: 10px 0px 0px 0px;
         width: 100%;
         display: none;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 10px;
         position: relative;
         @media screen and (max-width:768px) {
            display: flex;
         }
        
         hr{
            border: solid #ECECEC 1px;
            width: 100%;
            margin: 0px;
         }
         .brandIcon{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0px;
            width: 100%;
         }
         .close-button{
            border: solid red 1px;
            position: absolute;
            top: 15px;
            right: 0px;
            border: solid #30384080 1px;
            cursor: pointer;
            width: 35px;
            border-radius: 10px;
            height: 35px;
            display: flex;
            padding: 2px;
            justify-content: center;
            align-items: center;
            color: #FFF;
            background: #1d212633;
         }
      }
      .menu-item{
         width: auto;
         padding: 5px 15px;
         text-align: center;
         font-weight: 600;
         font-size: 16px;
         color: #FFF;
         @media screen and (max-width:768px) {
            width: 100%;
            text-align: left;
            padding-left: 15px;
         }
      }
   }
}
.menu-wrapper-active{
   display: none;
   @media screen and (max-width:768px) {
      display: flex;
   }
}
.mobile-menu-icon{
   display: none;
   color: #FFF;
   @media screen and (max-width:768px) {
      display: flex;
   }
}