.header-wrapper{
 padding: 5px 15px 5px 15px;
 position: sticky;
 top: 0px;
 left:0px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #0f1114;
 border-bottom:solid #ececec 1px;
}
.brand-container{
  
    width: 100%;
    display: flex;
    justify-content: flex-start;
align-items: center;
gap: 10px;
}
.brandIcon{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 5px;
}
.settings-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    gap: 10px;
}
.github-logo {
    width: 24px;
    height: 24px;
}

.git-button {
    background: transparent;
    border: solid #30384080 1px;
    cursor: pointer;
    width: 35px;
    border-radius: 10px;
    height: 35px;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    background: #1d212633;
}
.git-button svg{
    fill: #ffffff !important;
}

.theme-selector {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background:lightgray;
    cursor: pointer;
    margin-left: 10px;

}